.btn {
    padding: 1.5rem 3rem;
    font-size: $default-font-size;
    border: none;
    border-radius: 10rem;
    position: relative;
    display: inline-block;
    animation-name: moveInBottom;
    animation-duration: .5s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
    cursor: pointer;

    @include respond (phone) {
        font-size: $font-size-button;
    }
    

    &::after {
        content: "";
        background-color: $color-white;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        transition: all .3s;
    }

    &:hover::after {
        transform: scale(1.5);
        box-shadow: 0 1rem 2rem rgba($color-black, .6);
        opacity: 0;
    }

    &--default {
        background-color: $color-white;
    }
}

.btn-text {
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border: 1px solid $color-primary;
    background-color: transparent;
    padding: 1rem;
    transition: .2s;
    margin-top: 3rem;

    &:hover {
        transform: translateY(-2px);
        color: $color-white;
        background-color: $color-primary;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    }
    
    &:active {
        transform: translateY(0);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.15);
    }
}