.form__group {
    & > * {
        display: block;
        width: 100%;
    }

    &--label {
        margin: 2rem 0;
    }

    &--input, &--textarea {
        border-radius: .8rem;
        border: 1px solid rgba($color-grey-dark, .6);
        font-family: inherit;
        padding: .8rem;
        transition: all .3s;

        &:focus, &:active {
            outline: none;
            border: 1px solid $color-primary;
        }
    }
}