body {
    font-family: "Lato", "sans-serif";
    font-size: $default-font-size;
    padding: 3rem;

    @include respond (tab-port) {
        padding: .5rem;
    }

    @include respond (phone) {
        padding: .5rem;
        font-size: $font-size-phone;
    }
}

a {
    list-style: none;
    text-decoration: none;
    color: $color-black;
}

.heading-primary {
    color: $color-white;
    font-weight: 700;
    margin-bottom: 4rem;
    
    @include respond (tab-port) {
        font-size: 2.4rem;
    }

    @include respond (phone) {
        font-size: 2.2rem;
    }
    
    span {
        display: block;
        backface-visibility: hidden;
    }

    &--main {
        letter-spacing: .3rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
    }

    &--sub {
        letter-spacing: .1rem;
        animation-name: moveInRight;
        animation-duration: 1s
    }
}

.post-title {
    span {
        display: block;
    }
}