/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-3rem); }
  80% {
    opacity: 1;
    transform: translateX(0.5rem); }
  100% {
    transform: translateX(0rem); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(3rem); }
  80% {
    opacity: 1;
    transform: translateX(-0.5rem); }
  100% {
    transform: translateX(0rem); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.fade-enter-active, .fade-leave-active {
  transition: opacity .4s; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 83.3%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", "sans-serif";
  font-size: 1.6rem;
  padding: 3rem; }

a {
  list-style: none;
  text-decoration: none;
  color: #000; }

.heading-primary {
  color: #fff;
  font-weight: 700;
  margin-bottom: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary {
      font-size: 2.4rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 1.8rem; } }
  .heading-primary span {
    display: block;
    backface-visibility: hidden; }
  .heading-primary--main {
    letter-spacing: .3rem;
    animation-name: moveInLeft;
    animation-duration: 1s; }
  .heading-primary--sub {
    letter-spacing: .1rem;
    animation-name: moveInRight;
    animation-duration: 1s; }

.post-title span {
  display: block; }

.u-margin-top-big {
  margin-top: 3rem; }

.u-margin-top-huge {
  margin-top: 6rem; }

.u-margin-bottom-big {
  margin-bottom: 3rem; }

.text-center {
  text-align: center; }

.btn {
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 10rem;
  position: relative;
  display: inline-block;
  animation-name: moveInBottom;
  animation-duration: .5s;
  animation-delay: .5s;
  animation-fill-mode: backwards;
  cursor: pointer; }
  .btn::after {
    content: "";
    background-color: #fff;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: all .3s; }
  .btn:hover::after {
    transform: scale(1.5);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
    opacity: 0; }
  .btn--default {
    background-color: #fff; }

.btn-text {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #55c57a;
  background-color: transparent;
  padding: 1rem;
  transition: .2s;
  margin-top: 3rem; }
  .btn-text:hover {
    transform: translateY(-2px);
    color: #fff;
    background-color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
  .btn-text:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.card {
  border-radius: .7rem;
  overflow: hidden;
  border: 1px solid #eee;
  transition: transform .4s; }
  .card__image {
    height: 20vh;
    background-size: cover; }
    .card__image--1 {
      background-image: url(../images/blog/blog-1.jpg); }
    .card__image--2 {
      background-image: url(../images/blog/blog-2.jpg); }
    .card__image--3 {
      background-image: url(../images/blog/blog-3.jpg); }
  .card__body {
    padding: 3rem;
    text-align: center; }
  .card__text--1 {
    text-transform: uppercase;
    font-weight: 700;
    color: #777;
    margin-top: -.8rem; }
  .card__text--2 {
    margin-top: 1rem; }
  .card:hover {
    box-shadow: 0rem 0.1rem 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(-1rem); }

.form__group > * {
  display: block;
  width: 100%; }

.form__group--label {
  margin: 2rem 0; }

.form__group--input, .form__group--textarea {
  border-radius: .8rem;
  border: 1px solid rgba(119, 119, 119, 0.6);
  font-family: inherit;
  padding: .8rem;
  transition: all .3s; }
  .form__group--input:focus, .form__group--input:active, .form__group--textarea:focus, .form__group--textarea:active {
    outline: none;
    border: 1px solid #55c57a; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: '';
    clear: both;
    display: table; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(100% - (6rem + (100% - 2 * 6rem) / 3)); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(https://images.pexels.com/photos/6469/red-hands-woman-creative.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  height: 50vh;
  position: relative;
  margin-bottom: 5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 60rem; }

.navigation {
  background-color: #777;
  padding: 2rem 3rem; }
  .navigation::after {
    content: '';
    clear: both;
    display: table; }
  .navigation__links {
    float: left;
    margin-top: .65rem; }
  .navigation__logo {
    float: right;
    position: relative;
    height: 3rem;
    width: 6rem;
    cursor: pointer; }
    .navigation__logo--image {
      background-image: url(../images/logo/logo-white.png);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover; }
  .navigation__link {
    display: inline-block; }
    .navigation__link:not(:last-child) {
      margin-right: 2rem; }
    .navigation__link > a {
      color: #fff; }

.new-post::after {
  content: '';
  clear: both;
  display: table; }

.new-post button.new {
  float: left; }

.new-post button.logout {
  float: right; }
