.footer {
    background-color: $color-grey-dark;
    padding: 2rem 3rem;
    text-align: center;
    clear: both;
    position: absolute;
    height: 6rem;
    width: 97vw;
    bottom: .5rem;
    
    &__link {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 2rem;
        }

        & > a {
            color: $color-white;
        }
    }
}