.header {
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8)), url(../images/background.jpeg);
    background-size: cover;
    height: 50vh;
    position: relative;
    margin-bottom: 5rem;

    &__text-box {
        @include absCenter;
        text-align: center;
        max-width: 60rem;
    }
}